<<<<<<< Updated upstream
$white: #fff;
$lightblue: #38AEF0;
$navy: #434A54;
$orange: #d65f4c;
=======
$whitecolor: #fff;
$lightbluecolor: #38AEF0;
$navycolor: #434A54;
$orangecolor: #d65f4c;
>>>>>>> Stashed changes
