%ul.chat-side__groups
  - current_user.groups.each do |group|
    %a.chat-side__groups-list{href:"/groups/#{current_user.id}/massage"}
      %li.chat-side__group
        %p.chat-side__group-name
          = group.name
        %p.chat-side__group-message
          ooooo
