%ul.chat-side__groups
  .chat-side__groups-list
    - current_user.groups.each do |group|
      %li.chat-side__group
        = link_to group_messages_path(group) do
          %p.chat-side__group-name
            = group.name
          %p.chat-side__group-message
            ooooo
